/*Contacto Form*/

form{
    margin: 25px;
}

.form-control{
    border: 1px solid $color-complementario;
}

.btnForm{
    background-color: $color-principal;
    border: rgb(139, 61, 61) solid 1px;
    margin-top: 25px;
}

