/* Menu Productos */
.section-header{
    padding-top: 25px;
}

h2{
    font-size: 35px;
    font-weight: bold;
}

h3{
    background-color: $color-principal;
    color: $color-fondo;
    font-weight: bold;
    border-radius: 5px;
}

.price{
    font-size: 25px;
    font-weight: bold;
}

.menu-item{
    border-bottom: solid 2px $color-complementario;
    
}

